div.post {
	width: 96%;
	padding:10px;
	line-height: 1.5;
	margin-top: 10px;	
	margin-bottom: 10px;	
	margin-left: auto;
	margin-right: auto;
}

div.post_title {
	margin-bottom: 20px
	margin-top: 0;
	border-left: 5px solid #DAE0E6;
	padding: 0 0 0 10px;
	color: #666;
	font-size: 18px;
}
div.post_body {
	margin-top: 10px;
}

div.post_signature {
	margin-top: 10px;
	border-top: 1px solid;
}

div.post_signature>div {
	position: relative;
	float: right;
}

div.post_action {
	text-transform: capitalize;
	margin-right: 10px;
	float: right;
}

div.post_action a {
	text-decoration: none;
}

#menu, #submenu, .message {
	width: 82%;
	height: 40px;
	line-height: 200%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: solid 1px rosyBrown;
}

#menu {
	background-color: lightblue;
}
#submenu {
	background-color: #dbdb8d;
}

div.menu_item, div.submenu_item {
	position:relative;
	float: left;
	margin-left: 10px;
	text-transform: capitalize;
}

div.menu_item a, div.submenu_item a {
	text-decoration: none;
}
#content {
	background: white;
	width: 80%;
	border: solid 1px rosyBrown;
	padding: 10px;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
}

