div#drawing_area {
	margin-left: 100px;
}
.axis {
	shape-rendering:crispEdges;
}
.axis path, .axis line {
	fill:none;
	stroke: #000;
}
.selected_bar>rect.bar_background {
	fill:red;
	opacity:0.2;
}
#drawing_area>div {
	margin-top: 100px;
	border: 1px solid black;
}
   
.highlighted{
	opacity: 0.5;
}
text.marker {
	font-size: 10pt;
	opacity: 0.8;
}
line {
	stroke-width: 2;
}
line.marker {
	stroke-dasharray: 9,5;
}

line.bar_average {
	stroke-dasharray: 9,5;
}
line.line_average {
	stroke-dasharray: 5,9;
}
