
.test {
	width: 800px;
	height: 20px;
	margin-bottom: 2px;
	padding-left: 10px;
	background-color: #F90;
}
.result {
	float:right;
	width: 80px;
	text-align:center;
}
.pass {
	background-color: #00AA00;
}
.fail {
	background-color: red;
}
